
a
	a:link /*сток */
	a:visited  /*посещоная */
	a:hover /*неведе курсор */
	a:active /*нажатие */
	{font-style: ; /* Шрифт*/
	font-weight: ; /* жирность*/
	text-decoration: none;/* підкресленя*/
}
{
	background: ; /* Цвет фона*/
		url(images.png)
		#fc0
	height: 200px; /* Высота блока */
	width: 200px; /* Ширина блока */
	color: ;  /* Цвет текста*/
	font-size: 200px; /* Размер шрифта */

		;/*Выравнивает элемент*/
		center /* центр*/
		left     /*Выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне.*/
		right     /*Выравнивает элемент по правому краю, а все остальные элементы обтекают его по левой стороне.*/
		none;    /*Обтекание элемента не задается.*/
		inherit     /*Наследует значение родителя.*/
	padding: 20px; /* Поля внутрі */
	margin: 20px; /* Поля знаружі */
	margin: auto; /* поцентру */
}


top - /*верх*/
rite - /*право*/
bottom - /*низ*/
left - /*ліво*/

opacity: 0.3; /* Прозрачность*/
transform: scale(2); /* Розмір*/
transition: all 1s; /* Плавний переход*/
white-space: nowrap; /* непереноситься*/

position: fixed; /* Фиксированное положение */
box-sizing: border-box;  /*поля внутри блока */
pointer-events: none; /* неклікабельний блок */
flexbox {
	.konteiner {
		 display: flex;
		/*  flex; Контейнер макс ширини, елементи с краю в ряд.*/
		/*  Inline-flex;  Контейнер min ширини */
		 flex-direction: column; /* Головна ось*/
		 /* "-reverse" - з заду на перед*/
		/*  row;  Елементи в рядок (по умолчанию)*/
		/*  column; /* Елементи в стовпчик */
		flex-wrap: no-wrap;  /* Елементи в 1 рядок */
		/* wrap Елементи не в 1 рядок */
		justify-content: center;
		 /* flex-start;  Елементи зліва (по умолчанию) */
		/*  flex-end;  Елементи справа */
		/*  center;  Елементи поцентру */
		/*  space-between;  Елементи по ширині, крайні по  краям */
		/*  space-around;  Елементи по ширині, крайні не по  краям */
			align-items: center; /* Поперечна ось*/
		/*  center; рядок по центру */
		/*  stretch; розтянуть  (по умолчанию)*/   
		/* flex-start;  Елементи прижаті до початку */ 
		/*  flex-end;  Елементи прижаті до кінця */
		align-content: ;
		flex-grow: 0; /* жадность к пустому месту*/
		flex-flow: ; /*flex-direction: flex-wrap:*/
	}

	.element {
		align-self: center;   
		/*  flex-start;  елемент спочатку */
		/*  flex-end;  елемент в кінці */
		/*  center;  елемент (рядок) поцентру   */
		flex-basis: 100px(%);/* базова ширина */
		flex-grow: 0;  /* жадность к пустому месту*/
	 }
}
@media only screen and (max-width: 1000px) {  /*  медиа запрос до 1000px */
}
@keyframes nameKeyFrames {  /*  Анимация нового поколения */
	from {}  to {}
	0%{}  100% {}
}
div{
	animation: nameKeyFrames 2s ease-in-out 0s infinite;
}
