html
	head
		meta(charset="UTF-8")
	body
		.testbody fsdfdsfsdfsdfs
		header
		nav
		section
		footer



script(src="script.js")
script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")
link(href='var.css' rel='stylesheet' type='text/css')
link(href='style.css' rel='stylesheet' type='text/css')
//- http://ld-wp.template-help.com/wordpress_65740